<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Familien Bande | Main</title>
</head>
<body class="background">
  <div class="top_line"></div>
  <nav> 
    <div class="container mb-4 mt-3">
      <div class="row my-0 py-0 d-flex flex-nowrap justify-content-between">
        <div class="company_title mt-0 col-md-4 pl-1 pr-0">
          <div class="company_title mt-0">familien </div>
          <div class="company_title d-flex justify-content-around align-items-start ml-5">bande +</div>
        </div>
        <div class="col-xs-1 my-0 py-0"></div>
        <ul class="px-0 col-md-7 col-sm-12 menu_text">     
          <div class="d-flex">
            <div  class="red_menu_block menu_block_active mx-2">Home</p></div>
            <div class="orange_menu_block mx-2 "><p>Kontakt</p></div>
            <div class="blue_menu_block mx-2 "><p>Info</p></div>
            <div class="green_menu_block mx-2 "><p>Eintritt</p></div>
          </div>
        </ul>  
       <select class="mr-5 menu_text menu_select">  
        <option>Home&#9660;</option> 
        <option>Kontakt</option> 
        <option>Info</option> 
        <option>Eintritt</option> 
        </select>
      </div>
    </div>
  </nav>
  <div class="box mt-0">
    <div class="container">
    </div>
  </div>
</body>
</html>